<clr-main-container>
  <clr-header class="header-6">
    <div class="branding">
        <a routerLink="/" class="nav-link">
            <clr-icon shape="asterisk"></clr-icon>
            <span class="title">PolyCovid</span>
        </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
        <a routerLink="/data" class="nav-link"><span class="nav-text">Data</span></a>
        <a routerLink="/map" class="nav-link"><span class="nav-text">Map</span></a>
        <a routerLink="/tweets" class="nav-link"><span class="nav-text">Tweets</span></a>
    </div>
    <form class="search">
      <label for="search_input"> | </label>
      <input id="search_input" type="text" placeholder="Search by country name..." (keyup)="searchCountry()" style="margin-left: 0.5vw;">
    </form>
  </clr-header>

  <div class="content-container">
    <div class="content-area">
      <app-data *ngIf="is_search" [search]=search (countryChoosen)="onChoosenCountry($event)"></app-data>
      <router-outlet *ngIf="!is_search"></router-outlet>
    </div>
  </div>
</clr-main-container>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>