<div class="clr-row clr-justify-content-center">
    <div class="clr-col-lg-2 clr-col-md-3 clr-col-xs-4" style="text-align: center;">
        <a href="https://twitter.com/intent/tweet?button_hashtag=PolyCovid&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-text="Observez l&#39;état de propagation du #Covid19 sur" data-url="https://polycovid.herokuapp.com/" data-lang="fr" data-show-count="true">Tweet #PolyCovid</a>
    </div>
</div>
<div class="clr-row clr-justify-content-center">
    <div class="clr-col-lg-6 clr-col-md-8 clr-col-xs-10" style="text-align: center;">
        <a class="twitter-timeline" data-lang="fr" data-width="500" data-dnt="true" data-theme="dark" href="https://twitter.com/MinSoliSante?ref_src=twsrc%5Etfw" data-tweet-limit="10">Tweets by MinSoliSante</a>
    </div>
</div>
