<p>A tweet Button:</p>
<a href="https://twitter.com/intent/tweet?button_hashtag=PolyCovid&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-text="Observez l&#39;état de propagation du #Covid19 sur" data-url="https://Polycovid.net" data-lang="fr" data-show-count="true">Tweet #PolyCovid</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<p>A Twitter timeline</p>
<a class="twitter-timeline" data-lang="fr" data-width="500" data-dnt="true" data-theme="dark" href="https://twitter.com/MinSoliSante?ref_src=twsrc%5Etfw" data-tweet-limit="3">Tweets by MinSoliSante</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
